<header class="border-b p-3 w-full shadow-md bg-white">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <img src="images/logo.jpg" alt="Logo" class="w-12 h-auto">
    <nav class="flex gap-6 my-2 uppercase text-xl text-gray-700">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="hover:text-blue-500">Home</a>
        <a routerLink="/products" class="hover:text-blue-500">Shopping</a>
        <a class="hover:text-blue-500">Contact</a>
    </nav>
    <div class="flex gap-4 items-center">
         <a [matBadge]="cartService.totalCartItems()" matBadgeSize="large" class="custom-badge relative hover:text-blue-500" routerLink="/cart">
             <mat-icon>shopping_cart</mat-icon>
         </a>   
         @if(userService.loggedInUser()) {
            <button mat-button [matMenuTriggerFor]="menu" class="flex items-center gap-2 hover:text-blue-500">
                <mat-icon>arrow_downward</mat-icon>
                <span>Hello, {{ userService.loggedInUser()?.firstName }}</span>
            </button>
         } @else {
            <button mat-stroked-button routerLink="user/login" class="hover:text-blue-500">Login</button>
            <button mat-stroked-button routerLink="user/register" class="hover:text-blue-500">Register</button>
         }
    </div>
  </div>
</header>

<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="cart" class="hover:bg-gray-100">
        <mat-icon>shopping_cart</mat-icon>
        <span>My Cart</span>
    </button>
    <button mat-menu-item routerLink="" class="hover:bg-gray-100">
        <mat-icon>list_alt</mat-icon>
        <span>My Orders</span>
    </button>
    <button mat-menu-item (click)="logout()" class="hover:bg-gray-100">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </button>
</mat-menu>
