.custom-badge .mat-icon {
    width: 32px; 
    height: 32px;
    font-size: 36px; 
}

.custom-badge .mat-badge-content {
    width: 25px;
    height: 25px;
    font-size: 14px;
    padding-top: 5px;
}

a {
    &.active {
        color: #4f46e5;
    }

    &:hover {
        color: #c7d2fe; 
    }
}

header {
    background: linear-gradient(to right, #4f46e5, #3b82f6); 
}

nav {
    font-size: 1.125rem; 
    letter-spacing: 0.5px; 
}

nav a {
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #c7d2fe; 
}

button {
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #c7d2fe;
}

.mat-menu-item {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.mat-menu-item:hover {
    background-color: #f3f4f6;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
        gap: 4px;
    }
    nav {
        flex-direction: column;
    }
}
