<header class="border-b p-3 w-full shadow-md">
 <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <img src="images/logo.jpg" alt="image" width="50px">
    <nav class="flex gap-3 my-2 uppercase text-xl">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/products">Shopping</a>
        <a>Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
         <a [matBadge]="getCartItems()" matBadgeSize="large" class="custom-badge" routerLink="/cart">
             <mat-icon >shopping_cart</mat-icon>
         </a>   
         @if(userService.loggedInUser()){
            <!-- <button mat-stroked-button (click)="logout()">Logout</button> -->
             <button mat-button [matMenuTriggerFor]="menu" >
                <mat-icon>arrow_downward</mat-icon>
                <span>Hello, {{userService.loggedInUser()?.firstName}}</span>
             </button>
         }@else{
            <button mat-stroked-button routerLink="user/login">Login</button>
            <button mat-stroked-button routerLink="user/register">Register</button>
         }

    </div>
 </div>
</header>


<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="cart">
      <mat-icon>shopping_cart</mat-icon>
      <span>My Cart</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>list_alt</mat-icon>
      <span>My Orders</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>