<div class="p-4">
    <h1 class="text-center text-xl font-semibold mb-3">Filters</h1>
    <mat-divider></mat-divider>

    <div class="flex flex-col md:flex-row gap-4 mt-4">
        <div class="flex-1 space-y-2">
            <h2 class="text-center text-md font-medium">Types</h2>
            <mat-selection-list [(ngModel)]="data.selectedTypes" [multiple]="true" class="w-full">
                <mat-list-option *ngFor="let type of data.types" [value]="type">{{ type }}</mat-list-option>
            </mat-selection-list>
        </div>

        <div class="hidden md:block">
            <mat-divider vertical class="h-auto border-gray-300"></mat-divider>
        </div>

        <div class="flex-1 space-y-2">
            <h2 class="text-center text-md font-medium">Brands</h2>
            <mat-selection-list [(ngModel)]="data.selectedBrands" [multiple]="true" class="w-full">
                <mat-list-option *ngFor="let brand of data.brands" [value]="brand">{{ brand }}</mat-list-option>
            </mat-selection-list>
        </div>
    </div>

    <div class="flex justify-end mt-4">
        <button mat-flat-button color="primary" (click)="filter()">
            Apply Filters
        </button>
    </div>
</div>
