<div *ngIf="isLoading" class="flex justify-center items-center min-h-screen">
  <app-loading-icon></app-loading-icon>
</div>

<div *ngIf="!isLoading" class="p-4">
  <!-- Search Bar & Filters -->
  <div class="flex flex-col md:flex-row gap-4 mb-4 items-center justify-center">
    
    <!-- Centered Search Bar -->
    <div class="flex w-full md:max-w-2xl border rounded-full overflow-hidden shadow-md">
      
      <!-- Empty Gray Space -->
      <div class="w-8"></div>

      <!-- Search Input -->
      <input 
        [(ngModel)]="searchTerm"
        (keyup)="onSearch()"
        type="text" 
        placeholder="Search for anything..." 
        class="px-4 py-2 focus:outline-none border-r border-gray-300 flex-grow" 
      />

      <!-- Search Button -->
      <button (click)="onSearch()" class="bg-blue-500 text-white px-4 py-2 hover:bg-blue-600 flex items-center justify-center" style="background-color: #efefef;">
        <mat-icon style="color: black;">search</mat-icon>
      </button>
    </div>

    <!-- Filter & Sort Buttons -->
    <div class="flex gap-2 justify-center md:justify-start">
      <button mat-button class="rounded-lg flex items-center !text-black" (click)="openFilterDialog()">
        <mat-icon>tune</mat-icon>
        Filters
      </button>
      <button mat-button class="rounded-lg flex items-center !text-black" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>
  <!-- Product Grid -->
<div class="grid grid-cols-3 gap-4 mb-12">
  <div *ngFor="let product of paginatedProducts.slice(0, 3)" class="text-center relative">
    <a [routerLink]="['/products', product.id]">
      <img [src]="'images/' + product.image" alt="{{ product.image }}" class="w-full h-100 object-cover" />
    </a>
    <div class="absolute left-1/2 transform -translate-x-1/2 w-full px-4 flex justify-between mt-2">
      <h2 class="text-sm font-semibold">{{ product.name }}</h2>
      <button *ngIf="!product.isClicked" (click)="addItemToCart(product)" class="cursor-pointer"><mat-icon>add_shopping_cart</mat-icon></button>
      <span *ngIf="product.isClicked" class="text-right ">
        In cart
      </span>
    </div>
  </div>
</div>

<!-- Second row: 2 items -->
<div class="grid grid-cols-2 gap-4 mb-12">
  <div *ngFor="let product of paginatedProducts.slice(3, 5)" class="text-center relative">
    <a [routerLink]="['/products', product.id]">
      <img [src]="'images/' + product.image" alt="{{ product.image }}" class="w-full h-100 object-cover" />
    </a>
    <div class="absolute left-1/2 transform -translate-x-1/2 w-full px-4 flex justify-between mt-2">
      <h2 class="text-sm font-semibold">{{ product.name }}</h2>
      <button *ngIf="!product.isClicked" (click)="addItemToCart(product)" class="cursor-pointer"><mat-icon>add_shopping_cart</mat-icon></button>
      <span *ngIf="product.isClicked" class="text-right ">
        In cart
      </span>
    </div>
  </div>
</div>

<!-- Third row: 3 items -->
<div class="grid grid-cols-3 gap-4 mb-12">
  <div *ngFor="let product of paginatedProducts.slice(5, 8)" class="text-center relative">
    <a [routerLink]="['/products', product.id]">
      <img [src]="'images/' + product.image" alt="{{ product.image }}" class="w-full h-100 object-cover" />
    </a>
    <div class="absolute left-1/2 transform -translate-x-1/2 w-full px-4 flex justify-between mt-2">
      <h2 class="text-sm font-semibold">{{ product.name }}</h2>
      <button *ngIf="!product.isClicked" (click)="addItemToCart(product)" class="cursor-pointer"><mat-icon>add_shopping_cart</mat-icon></button>
      <span *ngIf="product.isClicked" class="text-right ">
        In cart
      </span>
    </div>
  </div>
</div>

<!-- Fourth row: 2 items -->
<div class="grid grid-cols-2 gap-4">
  <div *ngFor="let product of paginatedProducts.slice(8, 10)" class="text-center relative">
    <a [routerLink]="['/products', product.id]">
      <img [src]="'images/' + product.image" alt="{{ product.image }}" class="w-full h-100 object-cover" />
    </a>
    <div class="absolute left-1/2 transform -translate-x-1/2 w-full px-4 flex justify-between mt-2">
      <h2 class="text-sm font-semibold">{{ product.name }}</h2>
      <button *ngIf="!product.isClicked" (click)="addItemToCart(product)" class="cursor-pointer"><mat-icon>add_shopping_cart</mat-icon></button>
      <span *ngIf="product.isClicked" class="text-right ">
        In cart
      </span>
    </div>
   
  </div>
</div>

  <!-- Pagination -->
  <div class="flex justify-center mt-6">
    <mat-paginator
      [length]="products?.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>

</div>

<!-- Sort Menu -->
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
    @for (sort of sortOptions; track $index) {
      <mat-list-option [value]="sort.value">{{sort.name}}</mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
