<div class="mx-auto w-full">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div *ngFor="let banner of banners" ngxSlickItem>
        <div class="relative w-full h-150">
          <img [src]="banner.image" alt="Banner" class="w-full h-full object-cover">
          <div class="absolute inset-0 flex flex-col justify-center items-start p-4 rounded-lg">
            <h3 class="text-2xl font-semibold text-white mb-2">{{ banner.name }}</h3>
            <p class="text-sm text-white mb-4">{{ banner.description }}</p>
            <button mat-raised-button color="primary" class="text-white px-4 py-2">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  
  <!-- featured1 -->
  <div class="product-categories mt-8">
    <div class="category-carousel">
      <ngx-slick-carousel class="carousel" [config]="categoryCarouselConfig" class="gap-2">
        <div *ngFor="let category of featured1" ngxSlickItem>
          <div class="category-card text-center">
            <img [src]="category.image" alt="{{ category.name }}" class="w-full h-80 object-cover" style="height: 300px !important; ">
            <h3 class="mt-2 text-sm !text-sm">{{ category.name }}</h3>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  
  <!-- categories -->
  <div class="mt-8 mx-auto w-full">
    <ngx-slick-carousel class="carousel" [config]="techCarouselConfig">
      <div *ngFor="let tech of categories" ngxSlickItem class="px-2">
        <div class="flex flex-col items-center">
          <div class="w-32 h-32 rounded-full overflow-hidden shadow-lg mb-1">
            <img [src]="tech.image" alt="{{ tech.name }}" class="w-full h-full object-cover">
          </div>
          <h3 class="text-sm font-semibold">{{ tech.name }}</h3>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  
  <!-- Banner 2 -->
  <div class="mt-6 mx-auto w-full">
    <div>
      <img src="images/banner4.jpg" alt="Banner" class="w-full h-100 object-cover shadow-lg">
    </div>
  </div>
  
  <!-- Featured2 -->
<div class="mt-6 mx-auto w-full">
  <h2 class="text-xl font-semibold mb-4">Featured Products</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let product of featuredProducts" class="text-center">
      <img [src]="product.image" alt="{{ product.name }}" class="w-full h-80 object-cover">
      <h3 class="mt-2 text-sm">{{ product.name }}</h3>
    </div>
  </div>
</div>

  
  <!--  Banner 3 -->
  <div class="mt-6 mx-auto w-full mb-8">
    <div>
      <img src="images/banner5.jpg" alt="Banner" class="w-full h-100 object-cover shadow-lg">
    </div>
  </div>
  