<div class="mx-auto w-full">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div *ngFor="let banner of banners" ngxSlickItem>
        <div class="relative w-full h-150">
          <img [src]="banner.image" alt="Banner" class="w-full h-full object-cover">
          <div class="absolute inset-0 flex flex-col justify-center items-start p-4 rounded-lg">
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  
  <!-- bestSellers -->
  <div class="product-categories !mt-6 bestSellers">
    <div class="category-carousel">
      <ngx-slick-carousel class="carousel" [config]="categoryCarouselConfig" class="gap-2">
        <div *ngFor="let p of bestSeller" ngxSlickItem>
          <div class="category-card text-center">
            <a [routerLink]="['/products', p.id]">
              <img [src]="'images/'+p.image" alt="{{ p.name }}" class="w-full h-100 object-cover" style="height: 300px !important; ">
            </a>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  
  <!-- categories -->
  <div class="mt-8 mx-auto w-full categories">
    <ngx-slick-carousel class="carousel" [config]="typeCarouselConfig">
      <div *ngFor="let type of types" ngxSlickItem class="px-2">
        <div class="flex flex-col items-center">
          <div class="w-32 h-32 rounded-full overflow-hidden shadow-lg mb-1">
            <a (click)="redirectToCategory(type)" class="cursor-pointer">
               <img [src]="'images/'+ type + '.jpg'" alt="{{ type }}" class="w-full h-full object-cover">
            </a>
          </div>
          <h3 class="text-sm font-semibold">{{ type }}</h3>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  
  <!-- Banner 2 -->
  <div class="mt-12 mx-auto w-full">
    <div>
      <img src="images/ban4.jpg" alt="Banner" class="w-full h-100 object-cover shadow-lg">
    </div>
  </div>
  
  <!-- Featured -->
<div class="mt-6 mx-auto w-full">
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let product of featured" class="text-center">
      <a [routerLink]="['/products', product.id]">
        <img [src]="'images/' + product.image" alt="{{ product.name }}" class="w-full h-80 object-cover">
      </a>
    </div>
  </div>
</div>

  
  <!--  Banner 3 -->
  <div class="mt-6 mx-auto w-full mb-8">
    <div>
      <img src="images/banner4.jpg" alt="Banner" class="w-full h-100 object-cover shadow-lg">
    </div>
  </div>
  